body {
    margin: 60px auto;
    width: 70%;
    background-color: #ffdfdd;
}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #49c1f5;
}

h2 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #966FD6;
}
h3 {
    font-size: 1.1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:#333;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #F4C2C2;
}


.button1:hover {
  background-color: #F4C2C2;
  color: white;
}

hr.solid {
  border-top: 3px solid #bbb;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.accordion {
  background-color: #e59e9d;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ffdfdd;
}

.accordion:after {
  content: '\002B';
  color: #e59e9d;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #ffdfdd;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}